---
import { parseMarkdown } from '@lib/markdown';

interface BenefitItem {
  icon: string;
  title: string;
  text: string;
}

interface Props {
  id?: string | undefined;
  heading: string;
  items: BenefitItem[];
}

const { id = 'vorteile', heading, items }: Props = Astro.props;

const itemsWithHtml = items.map((item) => ({
  ...item,
  htmlText: parseMarkdown(item.text),
}));
---

<section id={id} class="benefits">
  <h2 class="section-heading animate right">{heading}</h2>

  <div class="benefits-container">
    {
      itemsWithHtml.map((item, index) => (
        <div class={`benefit animate ${index % 2 === 0 ? 'left' : 'right'}`}>
          <div class="img-container">
            <img src={item.icon} alt="" loading="lazy" decoding="async" />
          </div>
          <div class="text-container">
            <h3>{item.title}</h3>
            <div set:html={item.htmlText} class="benefit-text" />
          </div>
        </div>
      ))
    }
  </div>
</section>

<style lang="scss">
  .benefits {
    .benefits-container {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      gap: 100px;

      @include view-tablet-l {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 40px;
      }

      .benefit {
        flex: 1 1 calc(50% - 50px);
        display: flex;
        gap: 24px;
        border-radius: 3px;
        padding: 24px;
        background-color: var(--background);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
        border: 1px solid var(--text);

        @include view-mobile-s {
          flex-direction: column;
        }

        .img-container {
          width: 100px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
          margin-bottom: 20px;

          @include view-desktop-xs {
            flex: 0 0 60px;
          }

          @include view-tablet-l {
            flex: 0 0 100px;
            height: 100px;
            margin-bottom: 0;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: top;
          }
        }

        .text-container {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 12px;

          h3 {
            font-size: 1.5rem;
            line-height: 1.4;
            width: 100%;
            word-break: break-word;
            hyphens: auto;
            hyphenate-limit-chars: 4 4 4;

            @include view-mobile {
              font-size: 1.25rem;
            }
          }

          .benefit-text {
            font-size: 1.125rem;
            line-height: 1.5;
          }
        }
      }
    }
  }
</style>
